.login-form-wrapper {
	margin: auto !important;
	max-width: 350px;
	border-radius: 2px !important;
	border: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
	background-color: #ffffff;
	font-weight: 600;
}

.login-form-wrapper .ant-card-body {
	padding-bottom: 0;
}

.login-form {
	max-width: 350px;
}
.login-form-forgot {
	float: right;
}
.login-form-button {
	width: 100%;
	font-weight: 700 !important;
	background-color: #0f9d58 !important;
	border: 0 !important;
}
.brand-logo {
	text-align: center;
	justify-content: center;
	font-weight: 900;
	margin: 200px auto 24px auto;
	display: flex;
}

input {
	border-radius: 4px !important;
}
