.total-users-tag {
	background-color: #ffbb28;
	border-radius: 4px;
	font-size: 12px;
	color: #fff;
}

.active-users-tag {
	background-color: #0088fe;
	border-radius: 4px;
	font-size: 12px;
	color: #fff;
}
